echo "node_modules" > .gitignore
echo ".DS_Store" >> .gitignore
echo ".astro" >> .gitignore
echo "dist" >> .gitignore
echo ".env" >> .gitignore
echo "pnpm-lock.yaml" >> .gitignore # 可选，推荐保留
node_modules